@page
@model WebApp.Pages.Produkter.ListModel
@{
    ViewData["Title"] = "List";
}

    <form method="get">
        <div class="input-group mb-3">
            <input type="search" asp-for="@Model.SearchTerm" class="form-control">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="card-deck">
        @foreach (var produkter in Model.Produkts)
        {
            <partial name="_ListPartial" model="produkter" />
        }
    </div>
